body{
  display: flex;
  justify-content: center;
}


.game-board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


.startpad-outer{
  background-color: var(--color);
  width: 20vmin;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startpad-inner {
  background-color: white;
  width: 15vmin;
  height: 15vmin;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.startpad-button-place{
  background-color: var(--color);
  width: 3vmin;
  height: 3vmin;
  border: 1px solid black;
  border-radius: 50%;
}

.movingpad-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.movingpad-cell{
  border: 1px solid black;
  width: 3vmin;
  height: 3vmin;
}